@media screen and (max-height: 400px) {
	.headerImg{
		display:none;
	}
}
@media screen and (max-width: 992px) {
	.portfolioText .vertical{
		height:auto;
		padding:20px 0px;
	}
	.headerLine1{
		font-size:70px;
	}
	.hide-md{
		display:none;
	}
}
@media screen and (max-width: 680px) {
	.headerLine1{
		font-size:40px;
	}
	.headerLine2{
		font-size:16px;
	}
}


